@model BoletoFacil.Models.RetornoCobranca
@{
    ViewBag.Title = "Gerar Boleto";
    var count = 0;
}

<h2>Gerar Boleto</h2>

<dl class="dl-horizontal">
    <dt>Sucesso</dt>
    <dd>@Model.success</dd>
</dl>

<hr />
<fieldset>
    <legend>Dados:</legend>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>code</th>
                <th>dueDate</th>
                <th>link</th>
                <th>payNumber</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.data.charges)
            {
                count++;

                <tr>
                    <th scope="row">@count</th>
                    <td>@item.code</td>
                    <td>@item.dueDate</td>
                    <td>@item.link</td>
                    <td>@item.payNumber</td>
                </tr>

            }

        </tbody>
    </table>
</fieldset>

