@model IEnumerable<ExemploMVC.Models.Boleto>

@{
    ViewBag.Title = "Boletos";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vencimento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vencimento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BoletoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BoletoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BoletoId }) |
            @Html.ActionLink("Gerar BoletoFacil", "GerarBoleto", new { id = item.BoletoId })
        </td>
    </tr>
}

</table>
